<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Next Level Login & Registration  Form</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="../static/css/styleLogin.css">
</head>
<body>
	<div class="container">
		<div class="form signup">
			<h2>Daftar</h2>
			<div class="inputBox">
				<input type="text" required="required" id="signupUsername"> 
				<i class="fa-regular fa-user"></i>
				<span>nama</span>
			</div>
			<div class="inputBox">
				<input type="text" required="required" id="signupEmail"> 
				<i class="fa-regular fa-envelope"></i>
				<span>alamat email</span>
			</div>
			<div class="inputBox">
				<input type="password" required="required" id="signupPassword"> 
				<i class="fa-solid fa-lock"></i>
				<span>buat password</span>
			</div>
			<div class="inputBox">
				<input type="password" required="required" id="confirmPassword"> 
				<i class="fa-solid fa-lock"></i>
				<span>konfirmasi password</span>
			</div>
			<div class="inputBox">
				<input type="submit" value="Buat Akun" onclick="validateSignup()">
			</div>
            <p>Sudah memiliki akun ? <a href="login.html" class="login">Log in</a></p>
		</div>

	<script>
		let login = document.querySelector('.login');
		let create = document.querySelector('.create');
		let container = document.querySelector('.container');

		login.onclick = function(){
			container.classList.add('signinForm');
		}
		
		create.onclick = function(){
			container.classList.remove('signinForm');
		}
		
	</script>
	<script src="../static/js/pass.js"></script>
</body>
</html>