<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Bookshelf Register</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../static/css/styleLogin.css" />
  </head>
  <body>
    <div class="container">
      <div class="form signup">
        <h2>Daftar</h2>
        <div class="inputBox">
          <input type="text" required="required" id="signupUsername" />
          <i class="fa-regular fa-user"></i>
          <span>nama</span>
        </div>
        <div class="inputBox">
          <input type="text" required="required" id="signupEmail" />
          <i class="fa-regular fa-envelope"></i>
          <span>alamat email</span>
        </div>
        <div class="inputBox">
          <input type="password" required="required" id="signupPassword" />
          <i class="fa-solid fa-lock"></i>
          <span>password</span>
        </div>
        <div class="inputBox">
          <input type="password" required="required" id="confirmPassword" />
          <i class="fa-solid fa-lock"></i>
          <span>konfirmasi password</span>
        </div>
        <div class="inputBox" id="registerBtn" onclick=registrasi()>
          <input type="submit" value="Buat Akun" />
        </div>
        <p>
          Sudah memiliki akun ?
          <a href="http://localhost:5000/login" class="login">Log in</a>
        </p>
      </div>
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <script>
      let login = document.querySelector('.login');
      let create = document.querySelector('.create');
      let container = document.querySelector('.container');

      login.onclick = function () {
        container.classList.add('signinForm');
      };

      create.onclick = function () {
        container.classList.remove('signinForm');
      };

			function registrasi() {
				const username = document.querySelector('#signupUsername').value;
				const email = document.querySelector('#signupEmail').value;
				const password = document.querySelector('#signupPassword').value;
				const confirmPassword = document.querySelector('#confirmPassword').value;

				if (password !== confirmPassword) {
					alert('Password tidak sama');
					return;
				}

				$.ajax({
					url: 'http://localhost:5000/register',
					type: 'POST',
					contentType: 'application/json',
					data: JSON.stringify({
						name: username,
						email: email,
						password: password
					}),
					success: function (response) {
						window.location.href = 'http://localhost:5000/login';
					},
					error: function (xhr, status, error) {
						if (xhr.status === 401) {
							alert('Email sudah terdaftar');
						}
					},
				});
			}

    </script>
    <script src="../static/js/pass.js"></script>
  </body>
</html>
